{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CLIMARICÁ</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <header style="background-image: url('{% static 'img/bg.png' %}')">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-nav">
                    <a href="{% url 'index' %}" class="navbar-brand">CLIMARICÁ</a>
                    <a href="{% url 'index' %}">INÍCIO</a>
                    <a href="{% url 'about' %}">SOBRE</a>
                    <a href="{% url 'news' %}">NOTÍCIAS</a>
                    <a href="{% url 'reports' %}">BOLETIM</a>
                    <a href="{% url 'contact' %}">CONTATO</a>
                    <a href="http://localhost:8000/admin/"><i class="fa-regular fa-user"></i></a>
                </div>
            </div>
        </nav>
        <div class="banner">
            <div class="container">
                <h1 class="banner-title">
                    <span>CLI</span>MARICÁ
                </h1>
                <p>INFORMAÇÕES SOBRE O TEMPO E CLIMA NA CIDADE DE MARICÁ</p>
                <form>
                    <label for="searchbar">
                        <input type="text" id="searchbar" onkeyup="search()" class="search-input" placeholder="Pesquisar..." />
                    </label>
                    <button type="submit" class="search-btn">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
        </div>

        <div class="container-items">
            <section class="content" id="content">
                <div class="title">
                    <div class="shortcut-cards">
                        <div class="card">
                            <img src="{% static 'img/logo.png' %}" alt="Notícias" class="card-image">
                            <div class="card-content">
                                <h3>Notícias</h3>
                                <p>Confira as principais notícias sobre o tempo e clima.</p>
                                <a href="{% url 'news' %}" class="card-link">
                                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                </a>
                            </div>
                        </div>
                        <div class="card">
                            <img src="{% static 'img/logo.png' %}" alt="Meteorologia" class="card-image">
                            <div class="card-content">
                                <h3>Meteorologia</h3>
                                <p>Confira a previsão do tempo na cidade de Maricá.</p>
                                <a href="{% url 'weather' %}" class="card-link">
                                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </header>

<div class="footer">
    <p>© MARICÁ - 2024 Todos os direitos reservados.</p>
</div>
</body>
</html>