{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notícias | CLIMARICÁ</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <header style="background-image: url('{% static 'img/bg.png' %}')">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-nav">
                    <a href="{% url 'index' %}" class="navbar-brand">CLIMARICÁ</a>
                    <a href="{% url 'index' %}">INÍCIO</a>
                    <a href="{% url 'about' %}">SOBRE</a>
                    <a href="{% url 'news' %}">NOTÍCIAS</a>
                    <a href="{% url 'reports' %}">BOLETIM</a>
                    <a href="{% url 'contact' %}">CONTATO</a>
                </div>
            </div>
        </nav>

        <section class="content" id="content">
            <div class="container">
                <div class="title">
                    <h2>PRINCIPAIS NOTÍCIAS</h2>
                    {% for noticia in noticias_destaque %}
                    <div class="content-item">
                        <div class="content-img">
                            {% if noticia.foto %}
                                <img src="{{ noticia.foto.url }}" alt="{{ noticia.titulo }}">
                            {% else %}
                                <i class="fa-regular fa-newspaper"></i>
                            {% endif %}
                            <span>{{ noticia.titulo }}</span>
                            <span>{{ noticia.resumo }}</span>
                        </div>
                        <div class="content-title popup" onclick="infoPopup(this)">
                            <span class="popuptext" id="infoPopup">
                                <i>{{ noticia.data_publicacao|date:"l, d de F de Y" }}</i>
                            </span>
                            <a href="{% url 'news_details' noticia.id %}">Saiba mais</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </header>

    <div class="footer">
        <p>© MARICÁ - 2024 Todos os direitos reservados.</p>
    </div>
</body>
</html>