{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notícias | CLIMARICÁ</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
    <link rel="stylesheet" href="{% static 'css/news.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <header style="background-image: url('{% static 'img/bg.png' %}')">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-nav">
                    <a href="{% url 'index' %}" class="navbar-brand">CLIMARICÁ</a>
                    <a href="{% url 'index' %}">INÍCIO</a>
                    <a href="{% url 'about' %}">SOBRE</a>
                    <a href="{% url 'news' %}">NOTÍCIAS</a>
                    <a href="{% url 'reports' %}">BOLETIM</a>
                    <a href="{% url 'contact' %}">CONTATO</a>
                    <a href="http://localhost:8000/admin/"><i class="fa-regular fa-user"></i></a>
                </div>
            </div>
        </nav>

        <section class="content" id="content">
            <div class="container">
                <div class="title">
                    <h2 class="banner-title">PRINCIPAIS NOTÍCIAS</h2>
                    <div class="news-cards">
                        {% for noticia in noticias_destaque %}
                        <div class="card">
                            <div class="card-image">
                                {% if noticia.foto %}
                                    <img src="{{ noticia.foto.url }}" alt="{{ noticia.titulo }}" style="border: solid 2px lightslategray;">
                                {% else %}
                                    <i class="fa-regular fa-newspaper"></i>
                                {% endif %}
                            </div>
                            <div class="card-content">
                                <h3>{{ noticia.titulo }}</h3><br>
                                <p>{{ noticia.resumo }}</p>
                                <div class="card-title" onclick="infoPopup(this)">
                                <span style="font-size: 12px;" class="popuptext" id="infoPopup">
                                    <i>Publicado em: {{ noticia.data_publicacao|date:"l, d F Y" }}</i>
                                </span>
                                <a href="{% url 'news_details' noticia.id %}" class="card-link">Saiba mais</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <h2 class="banner-title">OUTRAS NOTÍCIAS</h2>
                        <div class="news-cards">
                            {% for noticia in outras_noticias %}
                            <div class="card">
                                <div class="card-image">
                                    {% if noticia.foto %}
                                        <img src="{{ noticia.foto.url }}" alt="{{ noticia.titulo }}" style="border: solid 2px lightslategray;">
                                    {% else %}
                                        <i class="fa-regular fa-newspaper"></i>
                                    {% endif %}
                                </div>
                                <div class="card-content">
                                    <h3>{{ noticia.titulo }}</h3><br>
                                    <p>{{ noticia.resumo }}</p>
                                    <div class="card-title" onclick="infoPopup(this)">
                                    <span style="font-size: 12px;" class="popuptext" id="infoPopup">
                                        <i>Publicado em: {{ noticia.data_publicacao|date:"l, d F Y" }}</i>
                                    </span>
                                    <a href="{% url 'news_details' noticia.id %}" class="card-link">Saiba mais</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                    </div>
                </div>
            </div>
        </div>
        </section>
    </header>

    <div class="footer">
        <p>© MARICÁ - 2024 Todos os direitos reservados.</p>
    </div>
</body>
</html>