{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tempo em Maricá | {{ noticia.titulo }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <div class="navbar-nav">
                    <a href="{% url 'index' %}" class="navbar-brand">Tempo em Maricá</a>
                    <a href="{% url 'index' %}">INÍCIO</a>
                    <a href="{% url 'about' %}">SOBRE</a>
                    <a href="{% url 'news' %}">NOTÍCIAS</a>
                    <a href="{% url 'reports' %}">BOLETIM</a>
                    <a href="{% url 'contact' %}">CONTATO</a>
                </div>
            </div>
        </nav>
    </header>
    <h1>{{ noticia.titulo }}</h1>
    <img src="{{ noticia.foto.url }}" alt="{{ noticia.titulo }}">
    <p>{{ noticia.conteudo }}</p>
    <p>Publicado em: {{ noticia.data_publicacao }}</p>
    <p>Autor: {{ noticia.autor }}</p>
</body>
</html>
