{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meteorologia | CLIMARICÁ</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <header style="background-image: url('{% static 'img/bg.png' %}')">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-nav">
                    <a href="{% url 'index' %}" class="navbar-brand">CLIMARICÁ</a>
                    <a href="{% url 'index' %}">INÍCIO</a>
                    <a href="{% url 'about' %}">SOBRE</a>
                    <a href="{% url 'news' %}">NOTÍCIAS</a>
                    <a href="{% url 'reports' %}">BOLETIM</a>
                    <a href="{% url 'contact' %}">CONTATO</a>
                    <a href="http://localhost:8000/admin/"><i class="fa-regular fa-user"></i></a>
                </div>
            </div>
        </nav>

        <div class="container" style="margin-top: 90px;" >
            <h1 class="banner-title" style="color: #4695B4FF; margin-left: 50px;">Meteorologia</h1>
            <div style="padding: 80px; margin-top: 10px; border: groove 2px lightblue; border-radius: 10px;"
                 id="ww_350b1604ee908" v='1.3' loc='id' a='{"t":"horizontal","lang":"pt","sl_lpl":1,
                 "ids":["wl5019"],"font":"Times","sl_ics":"one_a","sl_sot":"celsius","cl_bkg":"rgba(60,121,150,1)",
                 "cl_font":"#FFFFFF","cl_cloud":"#FFFFFF","cl_persp":"#81D4FA","cl_sun":"#FFC107","cl_moon":"#FFC107",
                 "cl_thund":"#FF5722"}'>
                Fonte de dados meteorológicos:
                <a href="https://wetterlang.de" id="ww_350b1604ee908_u" target="_blank" style="color: lightgray;">
                    30 tage wettervorhersage
                </a>
            </div>
            <script async src="https://app2.weatherwidget.org/js/?id=ww_350b1604ee908"></script>
        </div>

        <section class="description">
            <div class="container">
                <br><h2>INFORMAÇÕES ADICIONAIS</h2><br>
                <p>Confira a previsão do tempo para hoje em Maricá e planeje suas atividades com tranquilidade.</p>
                <p>Veja a previsão do tempo para os próximos 7 dias em Maricá e programe seus compromissos com antecedência.</p>
                <p>Fique atento aos alertas de condições climáticas severas e tome as precauções necessárias para garantir sua segurança.</p>
                <p>Mantenha-se informado sobre as condições de vento e prepare-se para atividades ao ar livre.</p>
            </div>
        </section>
    </header>

    <div class="footer">
        <p>© MARICÁ - 2024 Todos os direitos reservados.</p>
    </div>
</body>
</html>