.about-text-bg {
    margin-top: -5%;
    border-radius: 5px;
}

.about-text {
    padding: 16px 20px 16px 20px !important;
    font-size: 20px;
    font-weight: 300;
    word-spacing: 2px;
    max-width: 30% !important;
    margin: 5% 35% 5% !important;
    text-align: justify;
}

.about-text p {
    text-align: center;
}

.cont-btn {
    text-decoration: none;
    color: slategrey;
    margin: 0 10px 0 0;
    text-shadow: 1px 2px white;
}

.cont-btn:hover {
    color: lightblue;
    transition: 0.5s ease-in;
}