@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap');

html {
    overflow-y: scroll;
}

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    line-height: 1.4;
    color: gainsboro;
}

p {
    font-family: Kanit;
    color: lightblue;
}

img {
    width: 100%;
    display: block;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}

.container-items {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
    display: inline-flex;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    padding: 10px;
    background: gray;
    color: lightblue;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

/* header */

header {
    min-height: 100vh;
    display: flex;
    background-color: gainsboro;
    flex-direction: column;
    justify-content: stretch;
    background-size: inherit;
}

.navbar {
    background: gray;
    padding: 10px;
    overflow: hidden;
}

.navbar-brand {
    color: lightblue;
    font-size: 20px;
    text-align: left;
    text-decoration: none;
    font-family: sans-serif;
    transition: 700ms ease;
    outline: none;
    display: inline-block;
    margin-right: 40%;
}

.navbar-brand:hover {
    transition: 0.5s ease-in;
    color: lightskyblue;
    letter-spacing: 5px;
}

.navbar-nav {
    padding: 12px 0 4px 0;
}

.navbar-nav a {
    text-transform: uppercase;
    font-family: Kanit;
    font-weight: 500;
    color: lightblue;
    text-decoration: none;
    border-top: 2px solid transparent;
    display: inline-block;
    padding: 4px 15px;
    letter-spacing: 3px;
    transition: 0.5s ease-in;
}

.navbar-nav a:hover {
    border-top: 2px solid lightskyblue;
}

/* página inicial */

.banner {
    margin: 10% 0 5% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: lightblue;
}

.banner-title {
    font-size: 48px;
    font-family: monospace;
    line-height: 1.2;
    text-shadow: 2px 2px #736b6b;
}

.banner-title span {
    font-family: monospace;
    color: gray;
    text-shadow: 2px 2px rgb(29, 29, 29);
}

.banner p {
    margin: 16px;
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    font-weight: 300;
    word-spacing: 2px;
    text-shadow: 2px 1px rgb(98, 93, 93);
    background-color: gray;
    font-family: Kanit;
}

.banner form {
    background: #fff;
    border-radius: 32px;
    padding: 10px 16px;
    display: flex;
    justify-content: space-between;
}

.search-input {
    font-family: monospace;
    font-size: 18px;
    width: 100%;
    outline: 0;
    padding: 1px 0;
    border: none;
}

.search-btn {
    width: 40px;
    font-size: 18px;
    color: gray;
    border: none;
    background: transparent;
    outline: 0;
    cursor: pointer;
}

.search-btn:hover {
    color: slategrey;
    transition: 0.5s ease-in;
}

/* recentes */

.content {
    padding: 72px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(75, 70, 70, 0.8));
    border-radius: 20px;
    margin-bottom: 20px;
}

.title {
    text-align: center;
    padding: 16px 0;
    font-family: Kanit;

}

.title h2 {
    font-family: Kanit;
    font-size: 38px;
}

.title p {
    color: lightblue;
    font-size: 20px;
    font-weight: 400;
    text-transform: none;
    padding: 10px 0;
}

/* contents - news */

.content-item {
    margin: 24px 0;
    display: inline-grid;
}

.content-img {
    position: relative;
    overflow: visible;
    float: left;
    object-fit: cover;
    margin: 25px;
}

.content-img img {
    width: 250px;
    height: 250px;
    transition: 0.5s ease-in;
}

.content-item:hover img {
    transform: scale(1.1);
}

.content-img span:first-of-type {
    position: relative;
    z-index: 1;
    color: lightblue;
    text-shadow: 1px 2px gray;
    padding: 4px 16px;
    font-size: 18px;
    text-align: center;
    word-break: break-all;
}

.content-img span:last-of-type {
    position: relative;
    z-index: 1;
    bottom: 10px;
    right: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    word-break: break-all;
}

.content-title {
    margin-top: 1px;
    padding: 1px;
    font-size: 14px;
    text-align: center;
    width: 100%;
    color: lightblue;
    position: relative;
    margin-left: 0;
    margin-right: 0;
}

.content-title a {
    color: lightblue;
    text-shadow: 1px 2px gray;
    text-decoration: none;
    text-transform: capitalize;
    font-family: monospace;
    margin-left: 0;
    margin-right: 0;
}

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* meteorologia */

.weather-tab {
    border: solid 3px lightslategray;
    border-spacing: 10px;
    padding: 80px;
    margin-top: 15px;
}

/* cards - index */

.shortcut-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background-color: whitesmoke;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 40%;
    text-align: center;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card-image {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 200px;
    border-radius: 5px;
    padding-left: 10px;
}

.card-content {
    padding: 20px;
}

.card h3 {
    margin-top: 0;
    font-size: 30px;
    color: dimgray;
}

.card p {
    color: gray;
    margin: 10px 0;
}

.logo-i {
    margin-top: 20px;
    padding: 3px;
    font-size: 80px;
    display: inline-flex;
    color: #4695b4;
}

.card-link {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    color: whitesmoke;
    background-color: #4695b4;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.card-link:hover {
    background-color: #4695B4FF;
}

.description {
    margin-top: 20px;
    text-align: center;
    background-color: rgba(60, 121, 150, 1);


}